// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// @import "theme/_base.scss";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

$zindex-outer: 10500;
$zindex-progressbar: 10800;
$zindex-controls: 10800;
$zindex-toolbar: 10800;
$zindex-subhtml: 10800;
$zindex-thumbnail: 10800;
$zindex-pager: 10800;
$zindex-playbutton: 10800;
$zindex-item: 10600;
$zindex-backdrop: 10400;
@import "~lightgallery.js/src/sass/lightgallery";

@import "theme/demos/default/plugins.scss";
@import "theme/core/themes/default.scss";
@import "theme/core/themes/green3.scss";
@import "theme/core/_base.scss";

.post-image {
    overflow: hidden;
    margin: 0;
}

.post-image img {
    width: 100%;
    display: block;
}

.justified-gallery > a,
.justified-gallery > div,
.justified-gallery > figure {
    opacity: 1;
}

.sport-item {
    text-align: center;
}

.sport-item .c-content-feature-2:hover {
    background-color: #dfead1;
}

[v-cloak] {
    display: none;
}

.c-content-blog-post-card-1 .c-body .c-title {
    min-height: 60px;
}

.news-image {
    max-height: 200px;
    min-height: 200px;
}

.card-coach {
    height: 325px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cbp-popup-wrap {
    z-index: 20000;
}

@media (max-width: 991px) {
    .c-content-feature-13 .c-feature-13-container {
        padding: 40px 10px;
    }
}

.c-content-person-1 .c-content-overlay {
    height: 390px;
    background-color: #fafbfc;
}
