
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";



// @import "theme/_base.scss";


// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";


@import "theme/demos/default/plugins.scss";
@import "theme/core/themes/default.scss";
@import "theme/core/themes/green3.scss";
@import "theme/core/_base.scss";

.post-image {
    overflow: hidden;
    margin: 0;
}

.post-image img {
    width: 100%;
    margin: -21.875% 0;
    display: block;
}


.justified-gallery > a, .justified-gallery > div, .justified-gallery > figure {
    opacity: 1;
}

.sport-item {
   text-align: center;
}

.sport-item .c-content-feature-2:hover {
    background-color: #dfead1;
}

[v-cloak] {
    display: none;
  }

.c-content-blog-post-card-1 .c-body .c-title {
    min-height: 60px;
}

.news-image {
    max-height: 220px;
}